<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>CarsPage</title>
    <style type="text/css">
        .table {
            width: 100%;
            margin-bottom: 20px;
            border: 1px solid #dddddd;
            border-collapse: collapse;
        }

        .table th {
            font-weight: bold;
            padding: 5px;
            background: #efefef;
            border: 1px solid #dddddd;
        }

        .table td {
            border: 1px solid #dddddd;
            padding: 5px;
        }
    </style>
</head>
<body>
<h1 th:text="${title}"/>
<table class="table">
    <thead>
    <tr>
        <th scope="col">№</th>
        <th scope="col">Марка</th>
        <th scope="col">Мощность, л.с.</th>
        <th scope="col">Год выпуска</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="car : ${cars}">
        <td th:text="${car.getId()}">
        <td th:text="${car.getName()}">
        <td th:text="${car.getHorsePower()}">
        <td th:text="${car.getYear()}">
    </tr>
    </tbody>
</table>


</body>
</html>